<div class="form-group">
  <%= f.label :title, class: 'col-sm-2 control-label' %>
  <div class='col-sm-6'>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :url, class: 'col-sm-2 control-label' %>
  <div class='col-sm-6'>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :shortening, class: 'col-sm-2 control-label' %>
  <div class='col-sm-6'>
    <%= f.text_area :shortening, class: 'form-control', rows: 4 %>
  </div>
</div>
<div class="form-group">
  <%= f.label :tags, class: 'col-sm-2 control-label' %>
  <div class='col-sm-6'>
    <%= f.text_area :tags, class: 'form-control', rows: 4, value: tags_inline(f.object) %>
    <p class="help-block">Please use "," (comma) to separate tags.</p>
  </div>
</div>
<%= f.submit 'Save', class: 'btn btn-success' %>
<%= link_to 'Back', :back %>
