<% unless @bookmarks.empty? %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Site</th>
        <th>Shortening</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.site.url %></td>
        <td><%= bookmark.shortening %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark), class: 'btn btn-info btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
