<% if target.errors.present? %>
<div class="alert alert-danger">
  <p><strong>Please check the following fields:</strong></p>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
